.all{
    background-image: url(https://static.retrip.jp/spot/85b71b2b-c32c-4722-9476-39122d26b41d/images/7584bba9-07b8-47ec-8df8-7e3ebc000734_l.jpg);
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
.profile{
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    border-radius: 50%;
    margin: 5%;
    height: 30vh;
}
a{
    margin: 3% auto;
    color: rgb(0, 238, 255);
}
.quiz-container{
    background-color: wheat;
    padding: 10% auto;
    padding: 3%;
    margin: 5% auto;
    opacity: 80%;
    border-radius: 10%;
    height: 45%;
}